* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.container {
  text-align: center;
  padding-top: 70px;
}

.login-page {
  width: 100%;
  height: 100%;
}
.login-page h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 5%;
  padding: 2%;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.login-section {
  background-color: rgba(88, 88, 88, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 30%;
  margin: 1%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.add-edit-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 30%;
  margin: 1%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color: #161616;
}

.add-edit-section input {
  display: block;
  margin: 2%;
  width: 90%;
  padding: 2%;
  border: 1px solid #8bb678;
  border-radius: 10px;
  outline: none;
}

.add-edit-section button {
  color: #161616;
  font-weight: 700;
  width: 80%;
  padding: 2%;
  border: 1px solid #161616;
  background: #8bb678;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}

.add-edit-section button:hover {
  background: #a0c78f;
}
.login-section input {
  display: block;
  margin: 2%;
  width: 90%;
  padding: 2%;
  border: 1px solid #145f72;
  border-radius: 10px;
  outline: none;
}

.login-section button {
  width: 80%;
  padding: 2%;
  border: 1px solid #145f72;
  background: #145f72;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}

.login-section button:hover {
  background: #497683;
}

.nav {
  padding-right: 2%;
  padding-left: 2%;
  background-color: #c0c0c0;
  color: rgb(34, 34, 34);
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.nav ul {
  padding: 0;
  margin: 0;
  padding: 5%;
  display: flex;
  column-gap: 5%;
}
.nav-not-active:hover {
  letter-spacing: 0.1rem;
}

.big-title {
  font-weight: 700;
  font-size: 25px;
}
.nav-active {
  color: #144072;
  font-weight: 600;
  text-decoration: underline;
}
.nav-not-active {
  color: #145f72;
}
.router-link {
  text-decoration: none;
  font-size: 20px;
}
.category-display {
  padding-top: 1%;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
  margin-left: 1%;
  margin-right: 1%;
  width: 100%;
  grid-auto-rows: 200px;
  column-gap: 2%;
  row-gap: 4%;
}
.category-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}
.add-category {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  letter-spacing: 0.1rem;
  transition: 0.5s ease;
  width: 100%;
}
.add-category-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1%;
  margin: 1%;
  border-radius: 20px;
  column-gap: 2%;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  letter-spacing: 0.1rem;
  transition: 0.5s ease;
  box-shadow: 0px 0px 10px 0px rgb(170, 170, 170);
  width: 20%;
  height: 40px;
  background-color: #a3d18e;
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f3ebeb;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 0;
}
.backdrop-content {
  border-radius: 10px;
  padding-top: 3%;
  background-color: #d7d6f1;
  width: 30%;
  height: 15%;
  color: #354259;
  box-shadow: 0px 0px 10px 0px #161616;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.category-table {
  padding-bottom: 5%;
}
.category-table table {
  font-size: 20px;
  width: 50%;
  border-radius: 20px;
}
.category-table table tr {
  box-shadow: 0px 0px 0px 1px rgb(65, 65, 65);
  border-radius: 20px;
}

.category-table th {
  width: 10%;
  text-align: center;
  padding: 1%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.table-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  padding-bottom: 5%;
}
.inactive-table-Button {
  border-radius: 50%;
  background-color: #b8b8b8;
  width: 30px;
  height: 30px;
}

.active-table-Button {
  border-radius: 50%;
  background-color: #8bb678;
  width: 30px;
  height: 30px;
}

.searchBar {
  width: 400px;
  height: 50px;
  font-size: 15px;
  padding: 5% 5% 5% 5%;
  border: 1px solid #ddd;
  margin: 5%;
  border-radius: 20px;
}
@media only screen and (max-width: 600px) {
  .login-page h1 {
    font-size: 20px;
  }
  .login-section label {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
}

@media only screen and (min-width: 600px) {
  .login-page h1 {
    font-size: 20px;
  }
  .login-section label {
    font-size: 15px;

    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
}
@media only screen and (min-width: 768px) {
  .login-page h1 {
    font-size: 25px;
  }
  .login-section label {
    font-size: 15px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
}
@media only screen and (min-width: 992px) {
  .login-page h1 {
    font-size: 30px;
  }
  .login-section label {
    font-size: 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
}

@media only screen and (min-width: 1200px) {
  .login-page h1 {
    font-size: 35px;
  }
  .login-section label {
    font-size: 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
}
